@media screen and (max-width:600px) {
    .video-feed {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .video-info .video-title {
        font-size: 14px;
        line-height: 20px;
    }

    .video-info .channel-name, .video-stats {
        font-size: 12px;
    }


}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .video-feed {
        grid-template-columns: 1fr 1fr;
        padding: 15px;
    }

    .video-info .video-title {
        font-size: 14px;
        line-height: 20px;
    }

    .video-info .channel-name, .video-stats {
        font-size: 12px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    .video-feed {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 15px;
    }

    .video-info .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-info .channel-name, .video-stats {
        font-size: 14px;
    }

    .sidebar {
        width: 200px;
        background-color: white;
        z-index: 400;
    }

    .sidebar-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: 8px 24px;
    }

    .sidebar-link img {
        margin-right: 24px;
        width: 24px;
    }

    .sidebar-link p {
        font-size: 12px;
        width: 100%;
    }

    body {
        padding-left: 200px;
    }

}

@media screen and (min-width: 1025px) {
    .video-feed {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
    }

    .video-info .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-info .channel-name, .video-stats {
        font-size: 14px;
    }

    .sidebar {
        width: 240px;
        background-color: white;
        z-index: 400;
    }

    .sidebar-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: 8px 25px;
    }

    .sidebar-link img {
        margin-right: 24px;
    }

    .sidebar-link p {
        font-size: 12px;
        width: 100%;
    }

    body {
        padding-left: 240px;
    }

}